<!DOCTYPE html>
<html>
<head>
	<title>HypeBid</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="manifest" href="static/img/manifest.json">
    <meta name="theme-color" content="#ad13a8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/hbstyle.css">
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <div class="closebtn" onclick="closeNav()">More Games <img src="static/img/rightarrow.png"></div>
      <hr>
      <div class="sideItem">
            <img src="static/img/blenderset.jpg" width="63" height="63">
            <span class="sideItemTitle">Cosori Personal Blender, 10-Piece with Cleaning Brush, Cups, and Bottles</span>
            <span class="sideItemUsers"><img src="static/img/group.png">5</span>
            <button class="btn btn-watch">Watch</button> <button class="btn btn-join">Join</button>
      </div>
      <div class="sideItem">
            <img src="static/img/cofffeepods.jpg" width="63" height="63">
            <span class="sideItemTitle">Four Sigmatic Mushroom Kcup Organic and Fair Trade Coffee Pods with Chaga ...</span>
            <span class="sideItemUsers"><img src="static/img/group.png">224</span>
            <button class="btn btn-watch">Watch</button> <button class="btn btn-join">Join</button>
      </div>
      <div class="sideItem">
            <img src="static/img/pressuregauge.jpg" width="63" height="63">
            <span class="sideItemTitle">AstroAI Digital Tire Pressure Gauge 150 PSI</span>
            <span class="sideItemUsers"><img src="static/img/group.png">33</span>
            <button class="btn btn-watch">Watch</button> <button class="btn btn-join">Join</button>
      </div>
      <div class="sideItem">
            <img src="static/img/vinegar.png" width="63" height="63">
            <span class="sideItemTitle">Viva Naturals Certified Organic Raw Apple Cider Vinegar</span>
            <span class="sideItemUsers"><img src="static/img/group.png">8</span>
            <button class="btn btn-watch">Watch</button> <button class="btn btn-join">Join</button>
      </div>
      <div class="sideItem">
            <img src="static/img/samsungphone.jpg" width="63" height="63">
            <span class="sideItemTitle">Samsung Galaxy J7 Pro (32GB) J730G/DS - 5.5" Full HD Dual SIM Unlocked Phone</span>
            <span class="sideItemUsers"><img src="static/img/group.png">4.5K</span>
            <button class="btn btn-watch">Watch</button> <button class="btn btn-join">Join</button>
      </div>
      <div class="sideItem">
            <img src="static/img/chargingpad.jpg" width="63" height="63">
            <span class="sideItemTitle">JETech Wireless Charger Charging Pad</span>
            <span class="sideItemUsers"><img src="static/img/group.png">786</span>
            <button class="btn btn-watch">Watch</button> <button class="btn btn-join">Join</button>
      </div>
    </div>

    <div id="main">
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
            <img src="static/img/leftarrow.png" data-toggle="tooltip" data-placement="bottom" title="More Games" style="cursor: pointer;" onclick="openNav()">
            </li>
        </ul>
        <a class="navbar-brand" href="#">
            <img src="static/img/HypebidLogo.png" width="35" height="55" alt="logo" id="hypebidLogo">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" id="hypebidTitleText">HypeBid <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
                {% if current_user.is_authenticated %}
                <img src="static/img/usericon.png" width="50" height="55">
                {% endif %}
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if current_user.is_authenticated %}
              {{ current_user.username }}
              {% else %}
              Account
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if current_user.is_authenticated %}
              <a class="dropdown-item" href="/logmeout">Log Out</a>
              <a class="dropdown-item" href="/admin/{{current_user.username}}">Admin Panel</a>
              {% else %}
              <a class="dropdown-item" href="/login">Login</a>
              {% endif %}
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
            <li class="nav-item">
                <img src="static/img/help.png" >
            </li>
        </ul>
      </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row" id="gameinfo">
            <div class="col-4">
                   <p class="gameText">Game | <span class="gameID">334289430</span></p>     
            </div>
            <div class="col">
                <a href="https://google.com" class="infobtn"><img src="static/img/share.png"></a>
                <a href="https://google.com" class="infobtn"><img src="static/img/report.png"></a>
                <a href="https://google.com" class="infobtn"><img src="static/img/info.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <div class="countdownContainer">
                    <p>Time Left:</p>
                    <h2 id="countdownStopwatch"></h2>
                </div>
                <div class="platformbg">
                    <img src="static/img/wirelessSpeaker.png" width="216" height="216" id="featuredItem">
                </div>
            </div>
            <div class="col-1">
                <p class="bidtext">BIDDERS</p>
                <div class="whiteline"></div>
                <div class="gradientBg" align=center>
                    <img src="static/img/av1.png" class="profilePic">
                    <img src="static/img/av2.png" class="profilePic">
                    <img src="static/img/av3.png" class="profilePic">
                    <img src="static/img/av4.png" class="profilePic">
                </div>
            </div>
            <div class="col-1" id="divideColumn">
                <div class="divider"></div>
            </div>
            <div class="col" id="descriptionColumn">
                <h3 class="itemTitleText">JAM VOICE™
Portable WiFi and Bluetooth Speaker With Amazon Alexa</h3>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="accordion">
                          <div class="card itemdescBox">
                            <div class="card-header" id="headingOne" align=center data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h5 class="mb-0">
                                  Description
                              </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">
                                  The JAM Voice™ is a Wi-Fi and Bluetooth speaker that integrates with Amazon Alexa Voice Service. Just tap the speaker to ask Alexa a question, like “What’s the weather?” or “How is my commute looking this morning?” With up to four hours of play time, the JAM Voice pairs with other speakers in the JAM Wi-Fi family for a whole-home sound solution. You can also control it using the free JAM app.
                              </div>
                            </div>
                          </div>
                            </div>
                        </div>                
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="accordion">
                          <div class="card itemdescBox">
                            <div class="card-header" id="headingTwo" align=center data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h5 class="mb-0">
                                  Value
                              </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                              <div class="card-body">
                                  This item is worth $49.99.
                              </div>
                            </div>
                          </div>
                            </div>            
                        </div>
                        <div class="col">
                            <div class="accordion">
                          <div class="card itemdescBox">
                            <div class="card-header" id="headingThree" align=center data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h5 class="mb-0">
                                  Maximum Bid
                              </h5>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                              <div class="card-body">
                                  The maximum bid in this game is $5.00.
                              </div>
                            </div>
                          </div>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-input" type="number" min="0.01" step="0.01" max="2500" placeholder="Enter Your Bid Here..." style="overflow: hidden">
                    </div>
                  </div>
                </div>
                {# <input type="text" placeholder="Enter Your Bid Here..." class="form-input"> #}
                <button class="btn btn-block placerbtn">Place My Bid!</button>
            </div>
            <div class="col" align="right">
                <h5 class="nextText">Next Game <img src="static/img/rightarrow.png"></h5>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js"></script>
    <script src="static/js/hypebid.js"></script>
    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "305px";
            document.getElementById("main").style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.backgroundColor = "transparent";
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            });

            var bgContainer = $(".gradientBg");


            $(".profilePic").draggable({
              containment: bgContainer,
              axis: 'y'
            });
        });
    </script>
</body>
</html>