<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/css/register.css">
    </head>
    <body>
        <div id="error_container"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <h1>Register</h1>
                    <form class="register-form" action="/register" method="post">
                      <input type="text" name="registerUname" placeholder="Create a username" required="required">
                      <input type="password" name="registerPw" placeholder="Set a password" required="required">
                      <input type="password" name="confirmPw" placeholder="Type password again" required="required">
                      <input type="text" name="email" placeholder="What's your email address?" required="required">
                        <input type="checkbox" id="agreeToTerms" name="agreeToTerms">
                        <label for="agreeToTerms">By checking this box, you agree to the <a href="#">Terms and Conditions</a>.</label>
                        <button type="submit" class="submitBtn" >Submit</button>
                    </form>
                    <p>Have an account already? <a href="/login" class="register-link"><strong>Go ahead and sign in.</strong></a></p>
                    <div id="loader"></div>
                </div>
                <div class="col infoPanel">
                    <h2>Why join HypeBid?</h2>
                    <hr>
                    <div class="infoBox">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-3">
                                    <img src="static/img/shield.png">
                                </div>
                                <div class="col desc">
                                    <h3>Track your games!</h3>
                                    <p>Follow the games you’re interested in to keep yourself up to date!</p>
                                </div>
                            </div>
                        </div>
                        <h3></h3>
                        
                    </div>
                    <div class="infoBox">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-3">
                                    <img src="static/img/winner.png">
                                </div>
                                <div class="col desc">
                                    <h3>Bid Online!</h3>
                                    <p>Participate in the games by bidding and earn some awesome stuff!</p>
                                </div>
                            </div>
                        </div>
                        <h3></h3>
                    </div>
                    <div class="infoBox">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-3">
                                    <img src="static/img/stats.png">
                                </div>
                                <div class="col desc">
                                    <h3>View your statistics!</h3>
                                    <p>Get accurate, comprehensive data personalized to your profile!</p>
                                </div>
                            </div>
                        </div>
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">

        $(".register-form").submit(function(e) {
            e.preventDefault();
            $("#loader").html('<h4>Working <img src="static/img/ellipLoading.gif"></h4>');
            $.ajax({
                type: 'post',
                url: '/register',
                data: $(".register-form").serialize()
            }).done(function(res) {
                var error = res['error'];
                $("#loader").html("");
                var alertBox = `<div class="alert alert-dismissible alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Uh oh!</strong> ${error}</div>`;
                if ( error ) {
                    $("#error_container").html(alertBox);
                } else {
                    var msg = res['message'];
                    alertBox = `<div class="alert alert-dismissible alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Hooray! </strong> ${msg}</div>`;
                    $("#error_container").html(alertBox);
                }
            });
        });

    </script>
    </body>
</html>