{% extends "base.html" %}

{% block head %}
	<title>{% block title %}HypeBid - Admin Panel{% endblock %}</title>
	<link rel="icon" type="image/png" sizes="192x192"  href="../../static/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../../static/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../static/img/favicon-16x16.png">
	<link rel="manifest" href="../static/img/manifest.json">
	<meta name="theme-color" content="#ad13a8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/solar/bootstrap.min.css">
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Montserrat');
		body {
			font-family: 'Montserrat', sans-serif;
		}
	</style>

{% endblock %}
{% block nav_brand %}
	<a class="navbar-brand" href="/"><img src="../../static/img/HypebidLogo.png" height="55" width="35"> HypeBid</a>
{% endblock %}
{% block content %}
	{{ super() }}
	<div class="row">
		<div class="col">
			<form id="simulateGameForm">
			  <fieldset>
			    <div class="form-group">
			      <label for="chooseGame">Choose a game you want to simulate bidding on.</label>
			      <select class="form-control" id="chooseGame">
			      	{% for game in allgames %}
			      		<option>{{ game }}</option>
			      	{% endfor %}
			      </select>
			    </div>
			    <button type="submit" class="btn btn-primary">Simulate!</button>
			  </fieldset>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Check bidding information</button>

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Bid information</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	{% for k, v in bids.items() %}
			      		<h5>Bids for {{k}}</h5>
			      		<table class="table table-hover">
			      			<thead>
			      				<tr>
			      					<th scope="col">Name</th>
			      					<th scope="col">Bid</th>
			      				</tr>
			      			</thead>
			      			<tbody>
			      				{% for entry in v %}
			      				<tr>
			      					<th scope="row">{{entry['user_name']}}</th>
			      					<td>{{entry['user_bid']}}</td>
			      				</tr>
			      				{% endfor %}
			      			</tbody>
			      		</table>
			      	{% endfor %}
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-info" id="winnerBtn">Declare a winner!</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-warning" id="clearBidBtn">Clear all Bids</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Delete Game</button>
			<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="confirmModalLabel">Are you sure?</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        Deleting this game will permamently remove it from the database and you will not be able to recover it.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" id="deleteGameBtn" data-dismiss="modal">Yeah, remove it.</button>
			        <button type="button" class="btn" data-dismiss="modal">No, please! I was just kidding!</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 1em;">
		<div class="col" id="creationStatus"></div>
	</div>
{% endblock %}

{% block foot %}
	{{ super() }}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#simulateGameForm").submit(function(e) {
				e.preventDefault();
				var payload = {"game": $("#chooseGame").val()};
				$("#creationStatus").html('<h4>Working... Please be patient...<img src="../../static/img/lava-lamp.gif"></h4>');
				$.ajax({
					type: "POST",
					url: '/runsimulation',
		            data: JSON.stringify(payload),
		            contentType: 'application/json',
		            dataType: 'json' 
				}).done(function(res) {
					$("#creationStatus").html("");
					if (res['error']) {
						console.error(res['error']);
						$("#creationStatus").html('<div class="alert alert-dismissible alert-danger"> \
  <button type="button" class="close" data-dismiss="alert">&times;</button> \
  <strong>No bots found!</strong> <a href="/admin/{{current_user.username}}/botmanage" class="alert-link">Add some bots</a> and try submitting again. \
</div>');
					} else {
						$("#creationStatus").html('<div class="alert alert-dismissible alert-success"> \
  <button type="button" class="close" data-dismiss="alert">&times;</button> \
  <strong>Well done!</strong> Your operation ran successfully. <a href="/admin/{{current_user.username}}/simulatebidding" class="alert-link">Please refresh this page.</a> \
</div>');
					}
				});
			});

			$("#winnerBtn").click(function() {
				var payload = {"game": $("#chooseGame").val()};
				$("#creationStatus").html('<h4>Working... Please be patient...<img src="../../static/img/lava-lamp.gif"></h4>');
				$.ajax({
					type: "POST",
					url: '/calculatewinner',
					data: JSON.stringify(payload),
					contentType: 'application/json',
					dataType: 'json'
				}).done(function(res) {
					var winner = res['status'];
					$("#creationStatus").html("Complete! <strong>Results for Game " + $("#chooseGame").val() + ": </strong>" + winner);
				});
			});

			$("#clearBidBtn").click(function() {
				$("#creationStatus").html('<h4>Working... Please be patient...<img src="../../static/img/lava-lamp.gif"></h4>');
				$.ajax({
					type: "POST",
					url: '/clearbids'
				}).done(function () {
					$("#creationStatus").html('Complete! All games bidding data reset. <a href="/admin/{{current_user.username}}/simulatebidding" class="alert-link">Please refresh this page.</a>');
				});
			});

			$("#deleteGameBtn").click(function() {
				var payload = {"game": $("#chooseGame").val()};
				$("#creationStatus").html('<h4>Working... Please be patient...<img src="../../static/img/lava-lamp.gif"></h4>');
				$.ajax({
					type: "POST",
					url: '/deletegame',
					data: JSON.stringify(payload),
					contentType: 'application/json',
					dataType: 'json'
				}).done(function() {
					$("#creationStatus").html('Complete! This game was deleted. <a href="/admin/{{current_user.username}}/simulatebidding" class="alert-link">Please refresh this page.</a>');
				});

			});
		});
	</script>
{% endblock %}
